/Project1
/VoronoiSphere
/VoronoiSphereTests
/AsinT
/AsinTest

v_sphere_timings.txt

/.hg
/*.o
/vg
/tests
/libvoronoi.a
/perf.data*

/output/voronoi_data
/output/voronoi_data.obj
.vscode/settings.json
